/* remove default margin and padding from body */
body {
  padding: 0;
  margin: 0;
}

#map-id{
  margin-top: 6rem;
  height: 100%;
}

.navbar{
	background-color: black;
	padding: 5px;
	font-size: 1.2em;
}

.navbar-brand{
	min-height: 55px;
	padding: 10px 15px 10px;
	font-size: 2.2em;
}

.navbar-default .navbar-nav li a{
	color: grey;
}
.navbar-default .navbar-nav li a:hover,.navbar-default .navbar-nav li a.dropdown  {
	color: red;
}

.container-fluid {
  height: 100%;
  width: 100%;
  background: black

}
.jumbotron {
  position: relative;
  height: 350px;
  width: 100%;
  margin: 0;
  display: table;
  background: black;
  background-image: url("../images/main.jpg");
  background-attachment: fixed;
  background-position: bottom center;
  background-size: cover;
  align-content: center;
}

.jumbotron h1 {
  position: relative;
  margin-top: 100px;
  font-size: 0.1rem;
  animation: title 1.2s forwards linear;
  color: red;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}

.jumbotron p {
  position: relative;
  font-size: 1.2rem;
  opacity: 0;
  animation: subtitle 1.2s forwards linear;
  animation-delay: 1.2s;
  color: black;
  text-align: center;
  font-family: 'Bungee Inline', cursive;
}

.well {
    margin: auto;
    width: 40%;
    background: black;
    opacity: 0.75;
    text-align: center;
    position: relative;
    

}
.well h5{
    color: white;
    font-family: 'Bungee Inline', cursive;
}

.container{
  background: black
}
 /* keyframe animations which will be used to animate the title */
 @keyframes title {
  from {
    opacity: 0;
  }

  to {
    font-size: 4.5rem;
    opacity: 1;
  }
}

@keyframes smaller-title {
  from {
    opacity: 0;
  }

  to {
    font-size: 5.5rem;
    opacity: 1;
  }
}

@keyframes subtitle {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
