<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Baseball</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

</head>

<body>

<p>
Routes</br>
<b>Same data, what is in Mysql:</b></br>
</br>
http://localhost:5000/bwar_bat_table </br>
http://localhost:5000/schedule_and_record_table </br>
http://localhost:5000/team_batting_table </br>
</br>
<b>Mysql Data converted to Json:</b></br>
http://localhost:5000/samples-win_loss_results-old <br>
http://localhost:5000/samples-win_loss_results/2013(last should be year)<br>
http://localhost:5000/samples-team-batting<br>
http://localhost:5000/samples-bwar-bat/2003 (last parameter: 2003 is input, should be year)
<br>
</br>
<b>Graphs<b></br>
http://localhost:5000/bwar_bat
</p>

</br>
</br>
ALL Rotes:</br>
"/"</br>
"/bwar_bat"</br>
"/team_batting"</br>
"/pitching_info"</br>
"/pitching_info"</br>
"/win_loss_results"</br>
"/bwar_bat_table"</br>
"/schedule_and_record_table"</br>
"/team_batting_table"</br>
"/samples-bwar-bat/<sample>"</br>
"/samples-win_loss_results/<sample>"</br>
"/samples-team-batting"</br>
"/samples-win_loss_results-old"</br>
"/years-bwar-bat"</br>
"/years-win_loss_results"</br>



  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!--  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>

</body>

</html>
