<!DOCTYPE html>
<html>
<head>
  <title>Bootstrap Landing Page Website Tutorial</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>


<nav class = "navbar navbar-default navbar-fixed-top" role = "navigation">
  <div class="container-fluid">
    <div class="navbar-header">
     <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-main">
      <span class="sr-only"> Toggle Navigation</span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
      <span class = "icon-bar"></span>
    </button>
    <a class="navbar-brand" href="/">Baseball</a>
  </div>
  <div class="collapse navbar-collapse" id="navbar-collapse-main">
  <ul class="nav navbar-nav navbar-right">
   <!-- <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Visualisations
        <span class="caret"></span></a>
      <ul class="dropdown-menu"> -->
        <li><a href="/team_batting">London</a></li>
        <li><a href="/bwar_bat">Tati</a></li>
        <li><a href="/win_loss_results">Janel</a></li>
        <li><a href="/pitching_visual">Nick</a></li>
        <li><a href="/map">Map</a></li>
      </ul>
    <!--</li>
  </ul>-->
  </div>
</nav>  

<div id="home">
  <div class="landing-text">
    <h1><i>Baseball</i></h1>
    <hr>
    <p><strong>Who's on First?</strong></p>
  </div>
</div>



  
  </div>
</div>
</body>
</html>





