<!DOCTYPE html>
<html lang="en">

<head>

<head>
 <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Baseball</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
  <link href="https://fonts.googleapis.com/css?family=Bungee+Inline" rel="stylesheet">
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.3.3/dist/leaflet.css"
  integrity="sha512-Rksm5RenBEKSKFjgI3a41vrjkw4EVPlJ3+OiI65vTjIdo9brlAacEuKOiQ5OFh7cOI1bkDwLqdLw3Zg0cRJAAQ=="
  crossorigin=""/>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/each_page.css') }}">
</head>

<body>
 

<!--<div class="container-fluid">
      <div class="jumbotron">
        <h1>WIN or LOSS?</h1>
        <p>explore team's performance with interactive map</p>
        <div id="map"></div>
</div> -->


<div id="myMap"></div>


<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <div id="bar_loss"></div>
    </div>
  </div>
  </div>-->

</div>


  <!-- <script src="https://cdn.plot.ly/plotly-1.31.2.min.js"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://unpkg.com/leaflet@1.3.3/dist/leaflet.js"
  integrity="sha512-tAGcCfR4Sc5ZP5ZoVz0quoZDYX5aCtEm/eu1KhSLj2c9eFrylXZknQYmxUssFaVJKvvc0dJQixhGjG2yXWiV9Q=="
  crossorigin=""></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.js"></script>
<!--  <script src="{{ url_for('static', filename='js/bonus.js') }}"></script> -->
  <script src="{{ url_for('static', filename='js/config.js') }}"></script>
  <script src="{{ url_for('static', filename='js/app-map.js') }}"></script>
  
</body>

</html>
